{% load i18n %}
<div class="body">
  <div class="text">{{ instance.comment|urlize|linebreaks }}</div>
</div>
<div class="footer">
   <div class="status"><a href="{{ instance.user.get_absolute_url }}" title="{% trans "Visit profile" %}">{{ instance.user }}</a></div>
   <div class="index"><a href="{{ instance.content_object.get_absolute_url }}">{% trans "View" %}</a></div>
</div>
