{% load i18n static inkscape moderator %}

{% with object|get_flag:request.user as flag %}
      <div id="flag-{{ object.pk }}" class="moderation {% if object.is_retained %}retained{% elif object.is_deleted %}deleted{% elif object.is_hidden %}hidden{% else %}undecided{% endif %}{% if flag %} has_voted{% endif %}">
        <div class="details">
	  <div class="title">
	    {% url 'view_profile' object.object_owner.username as profile_url %}
	    <a href="{{ profile_url }}"><img class="userphoto" src="{% if object.object_owner.photo %}{{ object.object_owner.photo.url }}{% else %}{% static "images/photo.png" %}{% endif %}"/></a>
	    <div>
		<a href="{{ profile_url }}">{{ object.object_owner.username }}</a>
	    </div>
	  </div>
          <div class="index">
            <div class="moderationstatus">{{ object.status_label }}</div>
            <div class="index">
              {{ object.updated|timetag }}
            </div>
          </div>
          <div class="flagcount">{{ object.flag_votes }}</div>
          <div title='{% trans "Flags" %}' class="flag flagged"></div>
        </div>
        <div class="body">
          {% if model.template %}
            {% include model.template %}
          {% else %}
            {{ object }}
          {% endif %}
        </div>
        <div class="body" id="votes-{{ object.pk }}">
          <hr/>
          {% for vote in object.flags %}
            <p id="vote-{{ vote.pk }}">
              <img src="{{ vote.weight_icon }}" title='{{ vote.weight_label }}, {% trans "Weight:" %} {{ vote.weight }}'/>
              <strong>{{ vote.moderator }}</strong>
              <em>
              {% if flag == vote %}
                <a href="{% url "moderation:note" model.app model.model object.object_id %}" title="{% trans "Change your note" %}">{{ vote.notes|default:"Add note" }}</a>
                <script>popUpModeration('{% trans "Change notes for other moderators explaining your views." %}', '{% trans "Cancel" %}', '{% trans "Change" %}', "{{ request.url }}", ['{% trans "Notes" %}', "{{ flag.notes }}"]);</script>
              {% else %}
                {{ vote.notes|default:"" }}
              {% endif %} - {{ vote.created|timetag }}</em>
            </p>
          {% endfor %}
        </div>
	<div class="bar">
          <div class="censure_votes" title="{% trans "Number of people who want to censure this object." %}">{{ object.censure_votes|default:"0" }}</div>
	  {% if object.resolution == None %}
            {% if flag.is_censured %}
              <a class="censure i_voted" title="{% trans "You have voted to Censure" %}">{% trans "Censured" %}</a>
            {% elif flag %}
              <a class="censure" title="{% trans "Change vote to Censure" %}" href='{% url "moderation:censure" model.app model.model object.object_id %}'>{% trans "Change to Censure" %}</a>
              <script>popUpModeration('{% trans "Why should this item be deleted? Please update your notes." %}', '{% trans "Cancel" %}', '{% trans "Change to Censure" %}', '{{ request.url }}', ['{% trans "Notes" %}', "{{ flag.notes }}"]);</script>
            {% else %}
              <a class="censure" title="{% trans "Vote to Censure" %}" href="{% url "moderation:censure" model.app model.model object.object_id %}" >{% trans "Vote to Censure" %}</a>
              <script>popUpModeration('{% trans "Why should this item be deleted?" %}', '{% trans "Cancel" %}', '{% trans "Censure" %}', "{{ request.url }}", '{% trans "Notes" %}', true);</script>
            {% endif %}
	  {% endif %}
          {% if flag.is_undecided %}
            <a class="weight undecided i_voted" title="{% trans "You have voted to Abstain or are Undecided" %}">{{ object.weight }}</a>
          {% elif flag %}
            <a class="weight undecide" title="{% trans "Change your vote to Abstain" %}" href="{% url "moderation:undecide" model.app model.model object.object_id %}">{{ object.weight }}</a>
            <script>popUpModeration('{% trans "Please update your notes for other moderators about your views." %}', '{% trans "Cancel" %}', '{% trans "Change" %}', "{{ request.url }}", ['{% trans "Notes" %}', "{{ flag.notes }}"]);</script>
          {% else %}
            <a class="weight undecide" title="{% trans "Vote as Undecided" %}" href="{% url "moderation:undecide" model.app model.model object.object_id %}">{{ object.weight }}</a>
            <script>popUpModeration('{% trans "Please add notes for other moderators about your views." %}', '{% trans "Cancel" %}', '{% trans "Mark" %}', "{{ request.url }}", '{% trans "Notes" %}', true);</script>
          {% endif %}
	  {% if object.resolution == None %}
            {% if flag.is_approved %}
              <a class="approve i_voted" title="{% trans "You have voted to Approve" %}">{% trans "Approved" %}</a>
            {% elif flag %}
              <a class="approve" title="{% trans "Change vote to Approve" %}" href='{% url "moderation:approve" model.app model.model object.object_id %}'>{% trans "Change to Approve" %}</a>
              <script>popUpModeration('{% trans "Why should this item be retained? Please update your notes." %}', '{% trans "Cancel" %}', '{% trans "Change to Approve" %}', '{{ request.url }}', ['{% trans "Notes" %}', "{{ flag.notes }}"]);</script>
            {% else %}
              <a class="approve" title="{% trans "Vote to Approve" %}" href='{% url "moderation:approve" model.app model.model object.object_id %}'>{% trans "Approve" %}</a>
	      <script>popUpModeration('{% trans "Why should this item be retained?" %}', '{% trans "Cancel" %}', '{% trans "Approve" %}', '{{ request.url }}', '{% trans "Notes" %}', true);</script>
            {% endif %}
	  {% endif %}
          <div class="approve_votes" title="{% trans "Number of people who want to approve this object." %}">{{ object.approve_votes|default:"0" }}</div>
	</div>
      </div>
{% endwith %}
