{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{{ object }}{% endblock %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/shield.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/releases.css" %}"/>
{% endblock %}
{% block "js" %}{{ block.super }}
	<script type="text/javascript" src="{% static "js/release.js" %}"></script>
{% endblock %}
{% block supercontent %}
  <div id="bread">
    {% include "breadcrumbs.html" %}
  </div>
  {% if not object %}
    <h1>{% trans "Platform is misconfigured for release." %}</h1>
  {% else %}

<div id="shield" class="download">
  <div id="banners"
    {% if object.release.background %}
      style="background-image:url({{ object.release.background.url }})"
    {% endif %}>
  </div>
  <ul class="tabs fixed">
    {% for platform in platforms %}
      {% include "releases/platform_tab.html" %}
    {% endfor %}
  </ul>
</div>
<div id="left-column" style="padding-bottom: 45px;">
  &nbsp;
  {% if object.instructions %}
    {{ object.instructions|safe }}
  {% endif %}
</div>

  {% endif %}
{% endblock %}
