{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{{ object }}{% endblock %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/shield.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/releases.css" %}"/>
  {% if object.resource or object.download %}
    <meta http-equiv="Refresh" content="2; url={{ object.get_resource_url }}"/>
  {% endif %}
{% endblock %}

{% block content %}
  <div>
    {% if object.platform.image %}
      <img src="{{ object.platform.image.url }}" title="{{ object.platform }}" style="float: left;"/>
    {% endif %}
    {% if object.resource or object.download %}
      <h1>{{ title }}</h1>
      <p>{% trans "Thank you for downloading Inkscape." %}
      <p>{% blocktrans with object.get_resource_url as link %}Your download should start in 2 seconds, if not, please <a href="{{ link }}">click here</a> to start.{% endblocktrans %}</p>
    {% elif object.instructions %}
      {{ object.instructions|safe }}
    {% else %}
      <h1>{% trans "Download Failed" %}</h1>
      <p><strong>{% trans "WARNING!" %}</strong> {% trans "The download for this isn't working or isn't set up right." %}</p>
    {% endif %}
  </div>

  <hr/>

  <h1>{% trans "Support Inkscape" %}</h1>

  <p>{% blocktrans with "/support-us/donate/" as donation_url %}Inkscape needs your help. Every user who can contribute to Inkscape's development is investing in the future of the project. <a href="{{ donation_url }}">Donations</a> allow us to do so much within the project to continue providing you with new releases of Inkscape with better features and bug fixes.{% endblocktrans %}

  <form method="post" action="https://www.paypal.com/cgi-bin/webscr" target="_blank">
    <input value="_s-xclick" name="cmd" type="hidden">
    <input value="VRQMKRX9TCDSW" name="hosted_button_id" type="hidden">
    <input name="submit" alt="Donate to Inkscape Now (Paypal)" src="{% static "images/donate-now.png" %}" type="image">
    <img class="pygzexfbnpvrmtelraot kooclofgteyzqkpfkenv" src="https://www.paypal.com/en_US/i/scr/pixel.gif" height="1" width="1">
  </form>

  {% if object.howto %}
  <hr/>
  <h1>{% trans "Installation Instructions" %}</h1>

  <p>{% trans "This release has further instructions for installation. It is highly recommended that you read the instructions to make sure your installation will work and work well on your computer." %}</p>

  <a href="{{ object.howto }}">{% trans "Instructions Page" %}</a>

  {% endif %}

  {% if object.instructions %}
    {% if object.resource or object.download %}
      <hr/>
      {{ object.instructions|safe }}
    {% endif %}
  {% endif %}

{% endblock %}
